<% include templates/header.ejs%>
<% include templates/navegacion.ejs%> 
    <!--Cuerpo de la página -->
    <main>        
        <!-- <h1>Productos a Elegir</h1> -->
        <div class="contenedor-productos">
        <!--Se muestran los productos-->
            <% include templates/contenido.ejs%>
        </div>
    </main>
   <!--- <script src="../public/javascripts/main.js"></script>-->
<%include templates/footer.ejs%>