<!-- Producto 1-->
            <div class="producto"><!-- producto-container -->
                <a href="producto">
                    <img class="producto__img" src="/images/wings.png" alt="Wings">
                </a>
                <!-- <div class="producto__info"> -->
                <div class="producto__descripccion">
                    <h2 class="producto__nombre">Wings-Stone</h2>
                    <span class="producto__precio">$120</span>
                </div>
                <button class="boton__carrito" type="submit"><!-- fas fa-cart-plus -->
                    <img src="/images/carrito.png" alt="carrito">
                </button>
            </div>
            <!-- Producto  -2-->
            <div class="producto">
                <a href="producto">
                    <img class="producto__img" src="/images/papas.png" alt="papas">
                </a>
                <div class="producto__descripccion">
                    <h2 class="producto__nombre">GoldChip's </h2>
                    <span class="producto__precio">$50</span>     
                </div>
                <button class="boton__carrito" type="submit">
                    <img src="/images/carrito.png" alt="carrito">
                </button>
            </div>
            <!-- Producto 3-->
            <div class="producto">
                <a href="producto">
                    <img class="producto__img" src="/images/frappe.png" alt="frappe">
                </a>
                <div class="producto__descripccion">
                    <h2 class="producto__nombre">Frapp'e </h2>
                    <span class="producto__precio">$45</span>
                </div>
                <button class="boton__carrito" type="submit">
                    <img src="/images/carrito.png" alt="carrito">
                </button>
            </div>
            <!-- Producto 4-->
            <div class="producto">
                <a href="producto">
                    <img class="producto__img" src="/images/clubSandwich.png" alt="sandwitch">
                </a>
                <div class="producto__descripccion">
                    <h2 class="producto__nombre">Sandwitch</h2>
                    <span class="producto__precio">$35</span>
                </div>
                <button class="boton__carrito" type="submit">
                    <img src="/images/carrito.png" alt="carrito">
                </button>
            </div>
            <!-- Producto 5-->
            <div class="producto">
                <a href="producto">
                    <img class="producto__img" src="/images/bounless.png" alt="Boneless">
                </a>
                <div class="producto__descripccion">
                    <h2 class="producto__nombre">Boneles</h2>
                    <span class="producto__precio">$89.90</span>
                </div>
                <button class="boton__carrito" type="submit">
                    <img src="/images/carrito.png" alt="carrito">
                </button>
            </div>
            <!-- Producto 6-->
            <div class="producto">
                <a href="producto">
                    <img class="producto__img" src="/images/burrito.png" alt="burrito">
                </a>
                <div class="producto__descripccion">
                    <h2 class="producto__nombre">Burrito</h2>
                    <span class="producto__precio">$75</span>
                </div>
                <button class="boton__carrito" type="submit">
                    <img src="/images/carrito.png" alt="carrito">
                </button>
            </div> 

            <!-- <script src="./javascripts/main.js"></script> -->