<!-- Producto 1-->
            <div class="producto">
                <a href="producto">
                    <img class="producto__img" src="/images/wings.png" alt="Wings">
                    <div class="producto__info">
                        <p class="producto__nombre">Wings Yellow-Stone</p>
                        <p class="producto__precio">$120</p>
                    </div>
                </a>
            </div>
            <!-- Producto 2-->
            <div class="producto">
                <a href="producto">
                    <img class="producto__img" src="/images/papas.png" alt="papas">
                    <div class="producto__info">
                        <p class="producto__nombre">GoldChip </p>
                        <p class="producto__precio">$50</p>     
                    </div>
                </a>
            </div>
            <!-- Producto 3-->
            <div class="producto">
                <a href="producto">
                    <img class="producto__img" src="/images/frappe.png" alt="frappe">
                    <div class="producto__info">
                        <p class="producto__nombre">Frapp'e </p>
                        <p class="producto__precio">$45</p>
                    </div>
                </a>
            </div>
            <!-- Producto 4-->
            <div class="producto">
                <a href="producto">
                    <img class="producto__img" src="/images/clubSandwich.png" alt="sandwitch">
                    <div class="producto__info">
                        <p class="producto__nombre">Sandwitch Club </p>
                        <p class="producto__precio">$35</p>
                    </div>
                </a>
            </div>
            <!-- Producto 5-->
            <div class="producto">
                <a href="producto">
                    <img class="producto__img" src="/images/bounless.png" alt="Boneless">
                    <div>
                        <p class="producto__nombre">Boneless Paradise</p>
                        <p class="producto__precio">$89.90</p>
                    </div>
                </a>
            </div>
            <!-- Producto 6-->
            <div class="producto">
                <a href="producto">
                    <img class="producto__img" src="/images/burrito.png" alt="burrito">
                    <div class="producto__info">
                        <p class="producto__nombre">Gian't Burrito</p>
                        <p class="producto__precio">$75</p>
                    </div>
                </a>
            </div> 

            <script src="./javascripts/main.js"></script>